- function ensureStartsWith(should, startWith){
-   return lodash.startsWith(should, startWith) ? should : startWith + should
- }
- function url(str){
-   return ensureStartsWith(str, baseUrl)
- }



mixin script(src)
    script(src=url(src))&attributes(attributes)

mixin link(href)
    link(href=url(href))&attributes(attributes)




doctype html
html(lang='en')

    head
        meta(charset='UTF-8')
        title asdsaf
        link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
        +link("stylesheet.css")(rel="stylesheet")
    body.page-radic-npm-packages

        #header.navbar.navbar-expand-lg.fixed-top.navbar-dark.bg-primary
            .container
                a.navbar-brand(href='../') Radic NPM Packages
                button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav
                        li.nav-item.dropdown
                            a#download.nav-link.dropdown-toggle(data-toggle='dropdown', href='#')
                                | Package Docs
                                span.caret
                            .dropdown-menu.p-n(aria-labelledby='packages')
                                for pkg, i in packages
                                    if i > 0
                                        .dropdown-divider
                                    a.dropdown-item(href=url(pkg.directory))
                                        .d-flex.justify-content-end
                                            span.mr-auto.dropdown-item-name=pkg.name
                                            span.dropdown-item-version=pkg.package.version
                                        .dropdown-item-description=pkg.package.description

                    ul.nav.navbar-nav.ml-auto
                        li.nav-item
                            a.nav-link(href=githubUrl, target='_blank', data-toggle="tooltip", data-placement="left", title="View on Github").pl-xl.pr-xl
                                i.fa.fa-github.fs-30
                        li.nav-item
                            a.nav-link(href=githubForkUrl, target='_blank', data-toggle="tooltip", data-placement="right", title="Fork Project").pl-xl.pr-xl
                                i.fa.fa-code-fork.fs-30


        #content.container
            .bs-docs-section
                - var cols = 3
                - var rows = Math.ceil(packages.length / cols)
                - var rowCount = 0
                - var current = 0
                - var max = packages.length



                - for (var row = 0; row < rows; i++)
                    - if (current === max){ break }
                    .row
                        - for(var col = 0; col < cols; col++)
                            - if (current === max){ break }
                            - var package = packages[current];
                            - current++

                            .col-lg-4
                                .bs-component
                                    .card
                                        h3.card-header
                                            .d-flex.justify-content-end
                                                span.mr-auto=package.directory
                                                span.text-muted.fs-13=package.package.version
                                        .card-body
                                            h5.card-title=package.package.name
                                            p.card-text=package.package.description
                                            if package.package.keywords
                                                p.card-subtitle.text-muted=package.package.keywords.join(', ')


                                        .card-body
                                            a.card-link(href='https://npmjs.com/package/' + package.name) NPMJS
                                            a.card-link(href=url(package.directory)) Documentation
                                        .card-footer
                                            .text-muted
                                                if package.package.author
                                                    span.pr-sm
                                                        i.fa.fa-copyright.pr-xs
                                                        | !{package.package.author}
                                                if package.package.license
                                                    span.pr-xs
                                                        | !{package.package.license} License



        script(src='https://cdnjs.cloudflare.com/ajax/libs/systemjs/0.20.19/system.src.js')
        script.
            SystemJS.config({
                baseURL: '!{baseUrl}',
                map: {
                    jquery: '//code.jquery.com/jquery-3.2.1.min.js',
                    popper: '//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.js',
                    bootstrap: '//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.js'
                },
                meta: {
                    'popper': {
                        format: 'global',
                        exports: 'Popper'
                    },
                    'bootstrap': {
                        format : 'global', // load this module as a global
                        exports: '$', // the global property to take as the module value
                        deps   : [
                            // dependencies to load before this module
                            'jquery',
                            'popper'
                        ]
                    }
                }
            });

        +script('app.js')

        script.
            SystemJS.import('app').then(function(app) {
                console.log(app);
            });

